%p#notice= notice

%p
  %b Title:
  = @book.title
%p
  %b Author:
  = @book.author
%p
  %b Code:
  = @book.code
%p
  %b User:
  = @book.user
%p
  = link_to 'Borrow', borrow_book_path(@book)
%p
  = link_to 'Return book', return_book_book_path(@book)

= link_to 'Edit', edit_book_path(@book)
\|
= link_to 'Back', books_path
